doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/main.css')
		link(rel='stylesheet', href='/bootstrap/css/font-awesome.css')
		link(rel='stylesheet', href='/bootstrap/css/animate.min.css')
		link(rel='stylesheet', href='/bootstrap/css/prettyPhoto.css')
		
	
	body
	.top-bar.row.top-number
			
		.navbar.navbar-inverse
				.container
					.navbar-header
						a.navbar-inverse.navbar-brand(href='/') 
							img(src='/images/x-logoBlackSmall.png')
						button.navbar-toggle(type='button', data-toggle='collapse', datarget='#navbar-main')
							span.icon-bar
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#navbar-main.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='/catalog/') Catalog
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/sponsorships/') Sponsorships
	.container
		block content






	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(src='/bootstrap/js/jquery.prettyPhoto.js')
	script(src='/bootstrap/js/jquery.isotope.min.js')
	script(src='/bootstrap/js/main.js')
	script(src='/bootstrap/js/jquery.js')
	script(src='/bootstrap/js/wow.min.js')